<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
</ol>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is an arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

This will convert 200 minutes to hours by diving by 60

In [8]:
minutes = 200
hours = minutes / 60
print(str(hours) , "hours")

# Result: 3.3333333333333335 hours

3.3333333333333335 hours

## Author:
C. G.